.status-bulb {
  width: 15px;
  height: 15px;
  border-radius: 8px;
  text-align: center;
  padding-top: 3px;
  display: inline-block;
  vertical-align: text-top;

  i {
    font-size: 8px;
    color: white;
    display: inherit;
    vertical-align: top;
  }

  &.active {
    background-color: #0F7F12;
    .pulse
  }

  &.waiting {
    background-color: #FDA428;
  }

  &.inactive {
    background-color: #FC0D1B;
  }
}

.storage-table {
  .storage {
    height: 200px;
    border: 1px solid grey;
    background-color: #ffa0a5;
    position: relative;

    .level {
      background-color: white;
    }

    .inventory {
      position: absolute;
      width: 100%;
      text-align: center;

      ul {
        list-style: none;
        padding: 0;

        li {
          .type {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            display: inline-block;

            &.energy {
              background-color: #FFE56D;
            }
          }
        }
      }
    }
  }
}

.status-table {
  .status {
    height: 100px;
    vertical-align: middle;
    font-size: 30px;
    color: white;

    &.code-green {
      background-color: #0F7F12;
    }

    &.code-yellow {
      background-color: #FDA428;
    }

    &.code-red {
      background-color: #FC0D1B;
      color: black;
      .pulse
    }
  }
}

.creep-info {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 10px 5px;
  border: 1px solid rgba(220,220,220,0.5);
}